<td class="cell-name">
  <a href="https://www.npmjs.com/package/{{pkg.name}}"
     target="_blank"
     class="package-link">{{split-prefix pkg.name}}</a>
  {{#if isNew}}
    <div class="new-package">NEW</div>
  {{/if}}
  {{#if hasDescription}}
    <div class="description">
      {{pkg.description}}
    </div>
  {{/if}}
  {{#if pkg.demoURL}}
    <div>
      <a class="demo-link" href="{{unbound pkg.demoURL}}" target="_blank">DEMO</a>
    </div>
  {{/if}}
</td>
<td class="cell-clipboard hidden-xs">
  {{em-icon-clipboard command=installCommand color=(if hideInstallCommand '#7f7f7f' '#ea3723')}}
</td>
<td class="cell-github hidden-xs">
  {{#if pkg.github}}
    <a href="https://github.com/{{pkg.github.user}}/{{pkg.github.repo}}" target="_black">
      <div class="github-logo">
        <img src="assets/github-logo.svg" alt="Github Logo">
      </div>
    </a>
  {{/if}}
</td>
<td class="cell-gravatar hidden-xs">
  <a href="https://www.npmjs.com/~{{user.name}}" target="_blank">
    <img src="{{user.gravatar}}?s=30&d=retro" class="gravatar">
    {{user.name}}
  </a>
</td>
<td class="cell-downloads hidden-xs">
  {{observer-score
    score=pkg.emberObserver.score
    isWIP=pkg.emberObserver.isWIP
    name=pkg.name}}
</td>
<td class="cell-updated hidden-xs">
  {{moment-from-now pkg.time.modified}}
</td>
