<td>
  <a {{bind-attr href=npmPackageURL}}>{{unbound name}}</a>
  <br>
  {{unbound description}}
</td>
<td>
  {{em-avatar user=pkg._npmUser}}
</td>
<td>
  {{unbound downloads}}
</td>
<td>
  {{unbound updated}}
</td>
