<td class="cell-name">
  <a href="https://npmjs.org/{{unbound pkg.name}}"
     target="_blank"
     class="package-link">{{unbound split-prefix pkg.name}}</a>
  {{#if isNew}}
    <div class="new-package">NEW</div>
  {{/if}}
  {{#if hasDescription}}
    <div class="description">
      {{unbound pkg.description}}
    </div>
  {{/if}}
</td>
<td class="cell-gravatar hidden-xs">
  <a href="https://npmjs.org/~{{unbound user.name}}" target="_blank">
    <img src="{{unbound user.gravatar}}?s=30&d=retro" class="gravatar">
    {{unbound user.name}}
  </a>
</td>
<td class="cell-downloads hidden-xs">
  {{unbound digit-grouping downloads}}
</td>
<td class="cell-updated hidden-xs">
  {{unbound ago pkg.time.modified}}
</td>
