<td class="cell-name">
  <a href="{{unbound npmPackageURL}}"
     target="_blank"
     class="package-link">{{unbound split-prefix pkg.name}}</a>
  {{#if isNew}}
    <div class="new-package">NEW</div>
  {{/if}}
  <div class="description">
    {{unbound pkg.description}}
  </div>
</td>
<td class="cell-gravatar hidden-xs">
  <a href="{{unbound npmAuthorURL}}" target="_blank">
    <img src="{{unbound gravatar}}" class="gravatar">
    {{unbound user.name}}
  </a>
</td>
<td class="cell-downloads hidden-xs">
  {{unbound digit-grouping downloads}}
</td>
<td class="cell-updated hidden-xs">
  {{unbound ago updated "LLLL"}}
</td>
