<h1>Ember CLI addons on npm {{partial "partials/tweet"}}</h1>
<p class="count">Packages: {{packageCount}}</p>

{{input type="text" value=query placeholder="Filter addons" autofocus="autofocus"}}

{{#each filteredContent itemController="package"}}
  <p>
    <a href="{{unbound npmLink}}" target="_blank" class="name">{{unbound name}}</a><br>
    <span class="description">{{unbound description}}</span>
  </p>
  <hr>
{{else}}
  <p class="not-found">Nothing found for "{{query}}"</p>
  <hr>
{{/each}}

<div class="footer">Made by <a href="http://twitter.com/gcollazo">@gcollazo</a> from <a href="http://blimp.io">Blimp</a>. &bull; <a href="https://github.com/gcollazo/ember-cli-addon-search">Source on GitHub</a>.</div>
