<div class="search-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {{input type="text"
                value=queryProxy
                placeholder="Filter addons"
                class="form-control search-field"
                autofocus="autofocus"}}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-packages">
        <thead>
          <tr>
            <th>NAME</th>
            <th class="hidden-xs">OWNER</th>
            <th class="hidden-xs">DOWNLOADS</th>
            <th class="hidden-xs">UPDATED</th>
          </tr>
        </thead>
        <tbody>
          {{#each filteredContent itemController="package"}}
            <tr>
              <td class="cell-name">
                <a href="{{unbound npmLink}}"
                   target="_blank"
                   class="package-link">{{unbound name}}</a>
                   {{#unboundIf isNew}}
                     <div class="new-package">NEW</div>
                   {{/unboundIf}}
                <div class="description">
                  {{unbound description}}
                </div>
                <img src="{{unbound travisBadgeURL}}"
                     onerror="this.style.display='none'"
                     class="travis-badge">
                <br class="visible-xs"><br class="visible-xs">
                <ul class="list-inline visible-xs list-package-details">
                  <li>Owner: <a target="_blank" href="{{unbound npmProfileURL}}"}}>{{unbound _npmUser.name}}</a></li>
                  <li>Downloads: {{unbound downloads.downloads}}</li>
                  <li>Updated: {{unbound ago time.modified "LLLL"}}</li>
                </ul>
              </td>
              <td class="cell-gravatar hidden-xs">
                <img src="{{unbound gravatarURL}}" class="gravatar">
                <a target="_blank" href="{{unbound npmProfileURL}}"}}>{{unbound _npmUser.name}}</a>
              </td>
              <td class="cell-downloads hidden-xs">
                {{unbound downloads.downloads}}
              </td>
              <td class="cell-updated hidden-xs">
                {{unbound ago time.modified "LLLL"}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="4">
                <p class="not-found">Nothing found for "{{query}}"</p>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
