<div class="search-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {{input type="search"
                value=query
                placeholder="Filter addons"
                class="form-control search-field"
                autofocus="autofocus"}}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-packages">
        <thead>
          <tr>
            <th {{action 'toggleSort' 'name'}}>
              NAME {{sort-order-arrow value=order name='name'}}
            </th>
            <th class="hidden-xs" {{action 'toggleSort' 'author'}}>
              OWNER {{sort-order-arrow value=order name='author'}}
            </th>
            <th class="hidden-xs" {{action 'toggleSort' 'downloads'}}>
              DOWNLOADS {{sort-order-arrow value=order name='downloads'}}
            </th>
            <th class="hidden-xs" {{action 'toggleSort' 'modified'}}>
              UPDATED {{sort-order-arrow value=order name='modified'}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each}}
            <tr {{bind-attr class='matchFilters::hidden'}}>
              <td class="cell-name">
                <a href="{{unbound npmLink}}"
                   target="_blank"
                   class="package-link">{{unbound name}}</a>
                   {{#unboundIf isNew}}
                     <div class="new-package">NEW</div>
                   {{/unboundIf}}
                <div class="description">
                  {{unbound description}}
                </div>
                <img src="{{unbound travisBadgeURL}}"
                     onerror="this.style.display='none'"
                     class="travis-badge">
                <br class="visible-xs"><br class="visible-xs">
                <ul class="list-inline visible-xs list-package-details">
                  <li>Owner: <a target="_blank" href="{{unbound npmProfileURL}}">{{unbound authorName}}</a></li>
                  <li>Downloads: {{unbound downloads.downloads}}</li>
                  <li>Updated: {{unbound ago time.modified "LLLL"}}</li>
                </ul>
              </td>
              <td class="cell-gravatar hidden-xs">
                <img src="{{unbound gravatarURL}}" class="gravatar">
                <a target="_blank" href="{{unbound npmProfileURL}}">{{unbound authorName}}</a>
              </td>
              <td class="cell-downloads hidden-xs">
                {{unbound downloadCount}}
              </td>
              <td class="cell-updated hidden-xs">
                {{unbound ago modifiedAt "LLLL"}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="4">
                <p class="not-found">Nothing found for "{{query}}"</p>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
